.FC_Component {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  gap: 30px;
  
  
  /* background-color: #339989; */
  width: 50%;
  height: 100%;
}

.FC_Video_Component{
  border-radius: 10px;
  width: 45%;
  height: 100%;
}

video {
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.FC_Buttons_1{
  
  display: flex;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  height: 20%;
  justify-content: space-between;
}

.FC_Image_Container {
  border-radius: 10px;
  width: 45%;
  height: 100%;
}

.FC_Image_Component {

  background-color: #CFF1E4;
  border: black 2px solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
}

img{  
  width: 100%;
  height: 150px;
  object-fit:contain;
  border-radius: 10px;
}

.FC_Buttons_2{
  display: flex;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  height: 20%;
  justify-content: space-between;
}

.FC_Response {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 30px;

  color: black;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 20%;
}

button{
  height: 100%;
  border-radius: 10px;
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  color: black;
  font-size: 15px;
  cursor: pointer;
}

.FC_Container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  
}