.VC_Main_Component{
  /* background-color: #DEFFF2; */
  /* background-image: linear-gradient(315deg, #DEFFF2 0%, #6FFAC2 74%); */

  width: 50%;
  height: 100%;
  
}

.VC_SPINNER_CONTAINER{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}